/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* //rwd img css 可當作式css reset其中一種// */
img{
max-width:100%;
height:auto;
}
/* //全域border box// */
*,*::before,*::after{
box-sizing:border-box;
}
/* font導入 */


/* 背景圖片css設定 */
.position-absolute{
	position: absolute;
}
.bg-home{
	right: 0;
	width: 860px;
	height: 768px;
	background-repeat: no-repeat;
	background-image: url(https://github.com/Raymond870307/RwdHomework/blob/master/png/bg_yellow@2x.png?raw=true://github.com/Raymond870307/RwdHomework/blob/master/png/bg_yellow%402x.png);
}
.zindex-1{
	z-index: -1;
}
/* <以下為css> */
.bordertest{
	border: solid gray;
	display: block;
}
.container{
	margin: 0 auto;
	max-width: 1088px;
	max-height: 100vh;
	border: solid red;
	margin-top: 24px;
}
.wrap01{
	width: 218px;
}
.header{
	display: flex;
	justify-content: space-between;
	border: solid gray;
	
}
.btn{
	border-radius:22px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 32px;
	padding-left: 32px;
	background-color: #FF5D50;
	color: white;
	
}
.section{
	display: flex;
	border: solid gray;
}
.content{
	height: 220px;
	border: solid gray;
	transform: translateY(50%);
	display: flex;
	flex-direction: column;
	justify-content:center;
}
.wrap02{
	margin: 0 auto;
	width: 532px;
	height: 534px;
	background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home.svg);
	background-repeat: no-repeat;
	
}
.primary{
	color:#56C4C5;
}
h2{
	font-size: 18px;
	font-weight: 700;
}
h1{
	font-size:48px;
	font-weight: 900;
	color: #221E1F;
}
h3{
	font-size: 20px;
	color: #221E1F;
}
.title01{
	padding-top: 8px;
	padding-bottom: 12px;
}
